# insights 01 : load data

## Load world gdp data

In [1]:
import pandas as pd # for data manipulation

In [ ]:
gdp = pd.read_csv('../data/raw/world-gdp.csv')
# view the head of the data
gdp.head(10)

In [ ]:
# view the tail of the data
gdp.tail(10)

In [ ]:
# view the shape of the data
gdp.shape

In [ ]:

# view the data types of the data
print("list of column and datatypes  in the data:")
gdp.dtypes

In [ ]:
# view the data information
gdp.info()

In [ ]:
# generate stats summary of the data
gdp.describe(include='all')

## load oil producing countries data

In [31]:
import pandas as pd # for data exploration and manipulation

In [32]:
oil_states = pd.read_csv('../data/raw/oil-producing-nation.csv')

In [33]:
oil_states.head(10) # view the head of the data

  Country Code                Country
0          USA          United States
1          SAU          Saudi Arabia
2          RUS                 Russia
3          CAN                 Canada
4          IRQ                  Iraq
5          CHN                  China
6          ARE  United Arab Emirates
7          IRN                  Iran
8          BRA                 Brazil
9          KWT                Kuwait

In [34]:
oil_states.tail(10) # view the tail of the data

   Country Code      Country
87          PHL  Philippines
88          LTU    Lithuania
89          KGZ   Kyrgyzstan
90          TJK   Tajikistan
91          GEO      Georgia
92          TWN       Taiwan
93          SVK     Slovakia
94          MAR      Morocco
95          JOR       Jordan
96          ESP        Spain

In [35]:
oil_states.describe() # view the data information

       Country Code        Country
count            97             97
unique           97             97
top             USA  United States
freq              1              1