# Load Data

##  World Gdp Data

In [12]:
import pandas as pd # for data manipulation

In [13]:
gdp = pd.read_csv('../data/raw/world-gdp.csv')
# view the head of the data
gdp.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.276188e+09,3.395794e+09,2.610039e+09,3.126019e+09,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.112502e+10,2.161623e+10,2.350628e+10,2.804836e+10,2.592067e+10,2.947210e+10,...,1.006526e+12,9.273485e+11,8.851764e+11,1.021043e+12,1.007196e+12,1.000834e+12,9.275933e+11,1.081998e+12,1.169484e+12,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,2.055058e+10,1.999814e+10,1.801955e+10,1.889635e+10,1.841886e+10,1.890450e+10,2.014345e+10,1.458314e+10,NaN,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.044764e+10,1.117321e+10,1.199053e+10,1.272769e+10,1.389811e+10,1.492979e+10,...,8.943225e+11,7.686447e+11,6.913634e+11,6.848988e+11,7.670257e+11,8.225384e+11,7.864600e+11,8.444597e+11,8.778633e+11,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.372444e+11,8.721930e+10,4.984049e+10,6.897277e+10,7.779294e+10,6.930911e+10,5.024137e+10,6.568544e+10,1.067136e+11,NaN
5,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.322815e+10,1.138685e+10,1.186120e+10,1.301973e+10,1.515642e+10,1.540183e+10,1.516273e+10,1.793057e+10,1.888210e+10,NaN
6,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.271686e+09,2.789881e+09,2.896610e+09,3.000162e+09,3.218420e+09,3.155149e+09,2.891001e+09,3.325145e+09,3.352033e+09,NaN
7,Arab World,ARB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.905733e+12,2.554156e+12,2.537537e+12,2.637112e+12,2.843476e+12,2.868891e+12,2.533377e+12,2.928456e+12,3.557557e+12,NaN
8,United Arab Emirates,ARE,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.141054e+11,3.702755e+11,3.692553e+11,3.905168e+11,4.270494e+11,4.179897e+11,3.494730e+11,4.150216e+11,5.075349e+11,NaN
9,Argentina,ARG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,2.445060e+10,1.827212e+10,2.560525e+10,2.834471e+10,...,5.263197e+11,5.947493e+11,5.575323e+11,6.436284e+11,5.248199e+11,4.477547e+11,3.855404e+11,4.872271e+11,6.327703e+11,NaN

In [16]:
# view the tail of the data
gdp.tail(15)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
251,United States,USA,GDP (current US$),NY.GDP.MKTP.CD,5.433000e+11,5.633000e+11,6.051000e+11,6.386000e+11,6.858000e+11,7.437000e+11,...,1.755068e+13,1.820602e+13,1.869511e+13,1.947734e+13,2.053306e+13,2.138098e+13,2.106047e+13,2.331508e+13,2.546270e+13,NaN
252,Uzbekistan,UZB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,8.084539e+10,8.619626e+10,8.613829e+10,6.208132e+10,5.287011e+10,6.028350e+10,6.022470e+10,6.960061e+10,8.039185e+10,NaN
253,St. Vincent and the Grenadines,VCT,GDP (current US$),NY.GDP.MKTP.CD,1.306663e+07,1.399996e+07,1.452496e+07,1.370830e+07,1.475830e+07,1.510830e+07,...,7.709014e+08,7.865546e+08,8.143023e+08,8.440391e+08,8.843282e+08,9.107657e+08,8.691119e+08,8.722261e+08,9.485585e+08,NaN
254,"Venezuela, RB",VEN,GDP (current US$),NY.GDP.MKTP.CD,7.663938e+09,8.067267e+09,8.814310e+09,9.608717e+09,8.192414e+09,8.427778e+09,...,4.823593e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,British Virgin Islands,VGB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,Virgin Islands (U.S.),VIR,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.565000e+09,3.663000e+09,3.798000e+09,3.794000e+09,3.922000e+09,4.117000e+09,4.204000e+09,NaN,NaN,NaN
257,Viet Nam,VNM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.334515e+11,2.392583e+11,2.570960e+11,2.813536e+11,3.101065e+11,3.343653e+11,3.466158e+11,3.661376e+11,4.088024e+11,NaN
258,Vanuatu,VUT,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.723160e+08,7.308708e+08,7.808896e+08,8.800618e+08,9.147370e+08,9.365263e+08,9.094210e+08,9.716361e+08,9.835829e+08,NaN
259,World,WLD,GDP (current US$),NY.GDP.MKTP.CD,1.384857e+12,1.449221e+12,1.550815e+12,1.671447e+12,1.830492e+12,1.994103e+12,...,7.975652e+13,7.521506e+13,7.648645e+13,8.144205e+13,8.650222e+13,8.772810e+13,8.521515e+13,9.688240e+13,1.005620e+14,NaN
260,Samoa,WSM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.966837e+08,8.241505e+08,8.439248e+08,8.848444e+08,8.784484e+08,9.129506e+08,8.688984e+08,8.438508e+08,8.324216e+08,NaN
261,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.074393e+09,6.295845e+09,6.682674e+09,7.180769e+09,7.878763e+09,7.899741e+09,7.717143e+09,9.412034e+09,9.429156e+09,NaN
262,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.322859e+10,4.244449e+10,3.131782e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,...,3.811989e+11,3.467098e+11,3.235855e+11,3.814488e+11,4.041589e+11,3.885312e+11,3.376196e+11,4.190156e+11,4.058697e+11,NaN
264,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.811064e+10,2.214765e+10,2.978445e+10,NaN
265,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,3.415607e+10,2.183223e+10,2.150970e+10,2.837124e+10,2.067806e+10,NaN

In [15]:
# view the shape of the data
gdp.shape

(266, 68)

In [ ]:

# view the data types of the data
print("list of column and datatypes  in the data:")
gdp.dtypes

In [ ]:
# view the data information
gdp.info()

In [ ]:
# generate stats summary of the data
gdp.describe(include='all')

# World Country List Data

Load libaries

In [19]:
import pandas as pd

Load dataset

In [20]:
country_list = pd.read_csv("../data/raw/world-country-list.csv")

Preview data

In [ ]:
country_list.head(10)

In [ ]:
country_list.tail(10)

In [23]:
# check data informaton
country_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              262 non-null    object
 1   Alpha-2 code         262 non-null    object
 2   Alpha-3 code         262 non-null    object
 3   Numeric code         262 non-null    object
 4   Latitude (average)   262 non-null    object
 5   Longitude (average)  262 non-null    object
dtypes: object(6)
memory usage: 12.4+ KB

In [25]:
# check countries list shape (row and column)
country_list.shape

(262, 6)








## Oil Producing Countries Data

In [31]:
import pandas as pd # for data exploration and manipulation

In [32]:
oil_states = pd.read_csv('../data/raw/oil-producing-nation.csv')

In [33]:
oil_states.head(10) # view the head of the data

  Country Code                Country
0          USA          United States
1          SAU          Saudi Arabia
2          RUS                 Russia
3          CAN                 Canada
4          IRQ                  Iraq
5          CHN                  China
6          ARE  United Arab Emirates
7          IRN                  Iran
8          BRA                 Brazil
9          KWT                Kuwait

In [34]:
oil_states.tail(10) # view the tail of the data

   Country Code      Country
87          PHL  Philippines
88          LTU    Lithuania
89          KGZ   Kyrgyzstan
90          TJK   Tajikistan
91          GEO      Georgia
92          TWN       Taiwan
93          SVK     Slovakia
94          MAR      Morocco
95          JOR       Jordan
96          ESP        Spain

In [35]:
oil_states.describe() # view the data information

       Country Code        Country
count            97             97
unique           97             97
top             USA  United States
freq              1              1